.songProgress{
    display: flex;
    margin: 2vh 0;
    input[type="range"]{
        accent-color: rgb(51, 51, 51);
        width: 100%;
        background: transparent;
        cursor: pointer;

    }
    span, input{
        margin: 0 2vh;
        color: white;
    }
}
