@font-face {
    font-family: 'HMHAS';
    src: url(/src/assets/font/HMHAS-font.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HTE';
    src: url(/src/assets/font/HTE-font.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WWAFAWDWG';
    src: url(/src/assets/font/WWAFAWDWG-font.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DSAM';
    src: url(/src/assets/font/DSAM-font.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.albums-list-title{
    text-align: center;
    margin: 0;
    font-size: 6em;
    background-color: white;
}
.loading{
    width: 100%;
    margin: 0;
    padding: 5vh 0 0 0 ;
    height: 100vh;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.676);
}
.albums-list{
    background-color: rgba(255, 255, 255, 0.676);
    padding: 2vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    .albums-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            justify-content: center;
            width: fit-content;
            text-decoration: none;
            color: black;
            .albums-poster{
                width: 30vh;
                transition: all 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .albums-name{
            margin: 4vh 0;
            text-align: center;
            font-size: 2em;
            &.hmhas{
                color: blue;
                font-family: 'HMHAS';
                text-transform: uppercase;
            }    
            &.hte{
                color: rgb(160, 127, 43);
                font-family: 'HTE';
                font-size: 3.8em;
            }
            &.wwafawdwg{
                color: dimgray;
                font-family: 'WWAFAWDWG';
                text-transform: uppercase;
            }
            &.dsam{
                color: orangered;
                font-family: 'DSAM';
                text-transform: uppercase;
            }
        }
    }
}
