header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 0;
    .icon{
        width: 15%;
        display: flex;
        justify-content: center;
        margin: 2vh;
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    nav{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            li{
                margin: 2vh;
                a{
                    padding: 2vh;
                    color: black;
                    text-decoration: none;
                    transition: all 0.5s;
                    &:hover{
                        background-color: rgb(189, 189, 189);
                    }
                }
            }
        }
    }
}
@media (max-width:768px) {
    header{
        flex-direction: column;
        justify-content: center;
        .icon{
            width: 25vh;
            margin: 2vh 0;
        }
        nav{
            justify-content: center;
            ul{
                flex-direction: column;
                text-align: center;
                li{
                    a{
                        font-size: 2.5em;
                    }
                }
            }
        }
    }
}